<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Chi MEAN</title>

    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />

    <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="scripts/client.min.js"></script>

  </head>
  <body>
    <div class="jumbotron">
      <h1>Chi Message Board</h1>
    </div>

    <div class ="container" ng-controller = "SendMessage">
      <form>
        <input type="text" placeholder="Enter your Name" ng-model = "newMessage.name">
        <input type="text" placeholder="Enter your message" ng-model = "newMessage.message">
        <button type="button" class = "btn btn-primary"
                  ng-click = postData(newMessage)>Post Message</button>
      </form>
    </div>

    <div class="container" ng-controller = "AllMessages">
      <h2>Message History</h2>
      <div ng-init = "getData()">
        <div ng-repeat = "message in messageObject.messages">
          <p><b>{{ message.name }}:</b> {{ message.message }}</p>
        </div>
      </div>
    </div>

  </body>
</html>
